name: "envy"
on:
  workflow_call:
jobs:
  envy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ["8.5"]
    steps:
      - name: PHP Setup
        uses: jcergolj/reusable-github-actions/.github/actions/php-setup@master
        with:
          php-version: ${{ matrix.php }}

      - name: Composer
        uses: jcergolj/reusable-github-actions/.github/actions/composer-setup@master

      - name: Run Envy sync
        run: php artisan envy:sync --dry

      - name: Run Envy prune
        run: php artisan envy:prune --dry
