name: "larastan"
on:
  workflow_call:
jobs:
  larastan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ["8.4"]
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Composer
        uses: jcergolj/reusable-github-actions/.github/actions/composer-setup@master

      - name: Cache Larastan
        uses: actions/cache@v4
        with:
          path: .phpstan.cache
          key: phpstan-cache-${{ runner.os }}-${{ github.run_id }}
          restore-keys: |
            phpstan-cache-${{ runner.os }}-

      - name: Run Larastan
        run: ./vendor/bin/phpstan analyse --memory-limit=2G
