name: "tests"

on:
  workflow_call:
    inputs:
      install-tailwind-css:
        description: 'Whether to install tailwindcss manifest'
        default: false
        type: boolean
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ["8.3"]
    steps:
      - name: PHP Setup
        uses: jcergolj/reusable-github-actions/.github/actions/php-setup@master
        with:
          php-version: ${{ matrix.php }}

      - name: Composer
        uses: jcergolj/reusable-github-actions/.github/actions/composer-setup@master

      - name: Prepare Laravel Application
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Install Tailwind CSS manifest
        if: ${{ inputs.install-tailwind-css == true }}
        run: |
          php artisan tailwindcss:download
          php artisan tailwindcss:build

      - name: Run tests
        run: php artisan test --parallel
        env:
          APP_ENV: testing
          DB_CONNECTION: sqlite
          DB_DATABASE: ":memory:"
